<div class="container">
  <div class="row">
    <h1 class="text-center">遊戯王 禁止制限比較ツール</h1>
  </div>
  <div class="row">
    <p>遊戯王OCGのリミットレギュレーション（禁止・制限・準制限カード）を昔のものと最新のもので比較できます。</p>
    <p>次のようなシチュエーションで便利に使えます。</p>
    <ul>
        <li>1年ぶりに復帰したので、最新のリミットレギュレーションに合わせるために1年前のリミットレギュレーションとの差分を調べたい</li>
        <li>昔のデッキレシピを参考にしたいので、当時の禁止・制限・準制限カードを調べたい</li>
    </ul>
    <div class="alert alert-danger">
        このページの内容の正確性には注意を払っていますが、<a href="http://www.yugioh-card.com/japan/event/shop_duel/limit_regulation.php">できるだけ公式サイトで確認する</a>ことをおすすめします。
    </div>
  </div>
  <div class="row">
    <app-rule-selector></app-rule-selector>
    <app-rule-view></app-rule-view>
    <app-card-list panelType="zero"></app-card-list>
    <app-card-list panelType="one"></app-card-list>
    <app-card-list panelType="two"></app-card-list>
    <app-card-list panelType="three"></app-card-list>
  </div>
</div>
